*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #ffffff;
    padding: 100px 20px;
    color: #111;
  }
  .container{
    /* width: 1000px;
    max-width: 1000px; */
    flex: wrap;
    margin: auto;
   text-align: center;
  }
  h1{
    margin-bottom: 50px;
  }
  h3{
    margin-bottom: 12px;
  }
  .grid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  p{
    line-height: 1.5;
    font-size: 14px;

  }
  .iconimg{
    width: 100px;
    margin-bottom: 30px;
  }
  .item{
    text-align: center;
    padding: 40px 30px;
    border-radius: 16px;
  }
  .item1{
    background-color: aquamarine;
  }
  .item2{
    background-color: antiquewhite;
  }
  .item3{
   background-color: cornsilk;
  }